body{
    background-color: lightslategrey
}
h1{
    font-size: x-large;
    font-weight: 400;
    font-family: Georgia;
    color:darkred
}

h1:hover{
    color:black;
}

h2{
    color: violet;
    font-family: 'Franklin Gothic Medium';
}

#verde{
    color: green;
    font-family:'Verdana';
}

#azul{
    color:blue;
    font-family: 'Impact';
    font-size: x-small;
}

#violeta{
    color: violet;
    font-size: xx-large;
}
#naranja{
    color: orange;
}
#rojo{
    color:red;
    font-family: 'Segoe UI';
}
#rosa{
    color: pink;
}
/* REVISAR LA ETIQUETA CLASS */
p:first-child{

}
p:last-child{

}